# SQL lab - Task 1. Exploratory Data Analysis (EDA) of the sakila database.

## Task 1 assignments:

 - **a)** Which movies are longer than 3 hours (180 minutes), show the title and its length?

 - **b)** Which movies have the word "love" in its title? Show the following columns:
    - title.
    - rating.
    - lenght.
    - description.

 - **c)** Calculate descriptive statistics on the length column, **The Manager wants:**
    - shortest.
    - average.
    - median.
    - longest movie length.

 - **d)** The rental rate is the cost to rent a movie and the rental duration is the number of days a customer can keep the movie.
 - **The Manager wants to know**
    - the 10 most expensive movies to rent per day.


 - **e)** Which actors have played in most movies?
    - Show the top 10 actors with the number of movies they have played in.

 - **f)**

**Question A):**
- Which movies are longer than 3 hours (180 minutes), show the title and its length?

**Answer A):**
  - 39 movies longer than 180 minutes.
    - Longest one is: **WORST BANGER**

In [15]:
# Kod: Engelska
# Kommentarer : Svenska
query_a = """
SELECT 
    title,
    length
FROM staging.film
WHERE length > 180
ORDER BY length DESC;
"""
# egen variabel för att även printa ut svaret. variabel = con.sql(query_a).dataframe()
df_a = con.sql(query_a).df()

print(f"Movies longer than 3 hours(180min): {len(df_a)}")
df_a

Movies longer than 3 hours(180min): 39

                 title  length
0         WORST BANGER     185
1        CHICAGO NORTH     185
2       CONTROL ANTHEM     185
3       DARN FORRESTER     185
4    SWEET BROTHERHOOD     185
5          GANGS PRIDE     185
6            HOME PITY     185
7   SOLDIERS EVOLUTION     185
8         POND SEATTLE     185
9        MUSCLE BRIGHT     185
10     MOONWALKER FOOL     184
11      THEORY MERMAID     184
12   CONSPIRACY SPIRIT     184
13    CRYSTAL BREAKING     184
14      SORORITY QUEEN     184
15      SONS INTERVIEW     184
16     SMOOCHY CONTROL     184
17      KING EVOLUTION     184
18      YOUNG LANGUAGE     183
19       SCALAWAG DUCK     183
20      FRONTIER CABIN     183
21       CATCH AMISTAD     183
22           WIFE TURN     183
23       MONSOON CAUSE     182
24       RECORDS ZORRO     182
25          REDS POCUS     182
26         SATURN NAME     182
27      SEARCHERS WAIT     182
28     BAKED CLEOPATRA     182
29       LOVE SUICIDES     181
30      LAWLESS VISION     181
31  RUNAWAY TENENBAUMS     181
32       JACKET FRISCO     181
33      INTRIGUE WORST     181
34     HOTEL HAPPINESS     181
35    HAUNTING PIANIST     181
36      STAR OPERATION     181
37         WILD APOLLO     181
38    ANALYZE HOOSIERS     181

**Question B):**
- Which movies have the word "love" in its title? Show the following columns
    * Title
    * Rating
    * Lenght
    * Description

**Answer B):** 
  - 10 movies with the word 'love' in the title.

    - using %love% to filter and normalize so to NOT miss any title.
    - For example: 
    - **Graffiti Love** and **Strangelove Desires**
    - WITHOUT normalization I would have **MISSED** Strange**love** in the list.

In [ ]:
# Kod: Engelska
# Kommentarer : Svenska

query_b = """
SELECT 
    title,
    rating,
    length,
    description
FROM staging.film
WHERE LOWER(title) LIKE '%love%'  
ORDER BY title;
"""
# Egen variabel för query b att kalla på för att printa ut hur många antal filmer med 'love' i titeln.
# %love% för att normalisera och filtrera allting till lower för att inte missa någonting.
# T.ex "Graffiti Love" vs "Strangelove Desire"
df_b = con.sql(query_b).df()

print(f"Number of movies with the word 'love' in the title: {len(df_b)}")
df_b

Number of movies with the word 'love' in the title: 10

,title,rating,length,description
0,GRAFFITI LOVE,PG,117,A Unbelieveable Epistle of a Sumo Wrestler And...
1,IDAHO LOVE,PG-13,172,A Fast-Paced Drama of a Student And a Crocodil...
2,IDENTITY LOVER,PG-13,119,A Boring Tale of a Composer And a Mad Cow who ...
3,INDIAN LOVE,NC-17,135,A Insightful Saga of a Mad Scientist And a Mad...
4,LAWRENCE LOVE,NC-17,175,A Fanciful Yarn of a Database Administrator An...
5,LOVE SUICIDES,R,181,A Brilliant Panorama of a Hunter And a Explore...
6,LOVELY JINGLE,PG,65,A Fanciful Yarn of a Crocodile And a Forensic ...
7,LOVER TRUMAN,G,75,A Emotional Yarn of a Robot And a Boy who must...
8,LOVERBOY ATTACKS,PG-13,162,A Boring Story of a Car And a Butler who must ...
9,STRANGELOVE DESIRE,NC-17,103,A Awe-Inspiring Panorama of a Lumberjack And a...

**Question C):** 
- Calculate descriptive statistics on the length column.
    - Shortest.
    - Average.
    - Median.
    - Longest movie length.

**Answer C):**
- Shortest = 40
- Average = 115.27 (ROUND to 2 decimals since 115.272 has no meaning. The last .2 is irrelevant)
- Median = 114.0
- Longest movie lenght = 1000

In [ ]:
query_c = """
SELECT 
    MIN(length) AS shortest,
    ROUND(AVG(length), 2) AS average,
    MEDIAN(length) AS median,
    MAX(length) AS longest,
    COUNT(*) AS total_films
FROM staging.film;
"""
# Avrunda average från 3 decimaler -> 2 decimaler. 115.272 spelar INGEN roll. 115.27 är av mer värde än sista .2
df_c = con.sql(query_c).df()

df_c

   shortest  average  median  longest  total_films
0        46   115.27   114.0      185         1000